---
export const prerender = false;
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <main>
    <h1>Bienvenido/a a DatesTogether</h1>
    <p>El reto de las 100 citas</p>
    <form action="/api/auth/logout" method="POST">
      <button type="submit">Cerrar sesión</button>
    </form>
  </main>
</BaseLayout>
